// --------------------------------------------------
// Config
// --------------------------------------------------

//
// Colors
// --------------------------------------------------

$black: #000;
$white: #fff;

$bg-default: #F0F0F0;
$text-default: #7A7A7A;
$text-light: #999999;
$button-default: #A4BA92;
$instagram-default: #A4BA92;
