<script src="/assets/js/all.js"></script>
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="NmViZTE3YjctYWY4YS00MzU5LTlhM2YtYzFkMTY3NzM1NWQzNjM2NDA5NjE2NTY0NDQxMzkx"></script>
<script id="cart-content-text" type="text/template">
  <div class="custom-snipcart-footer-text">
    <h2>Important Shipping Information</h2>
    <p>
        Life Flower products are made in small batches with all-natural and boutique ingredients. Orders are processed and shipped in 7-10 business days. Please allow additional time for delivery.
    </p>
  </div>
</script>
</body>
</html>
