<!doctype html>
<html class="no-js" lang="{{ site.language}} ">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <meta name="google-site-verification" content="{{ site.google-verification }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=LbGQnBrmkJ">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=LbGQnBrmkJ">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=LbGQnBrmkJ">
  <link rel="manifest" href="/assets/favicon/manifest.json?v=LbGQnBrmkJ">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=LbGQnBrmkJ" color="#abbd9c">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=LbGQnBrmkJ">
  <meta name="apple-mobile-web-app-title" content="Life Flower">
  <meta name="application-name" content="Life Flower">
  <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=LbGQnBrmkJ">
  <meta name="theme-color" content="#efefef">
  <link rel="stylesheet" href="/assets/css/app.css">

  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
    type="text/javascript"></script>

  <script type="text/javascript"
      id="snipcart"
      src="https://cdn.snipcart.com/scripts/snipcart.js"
      data-api-key="NmViZTE3YjctYWY4YS00MzU5LTlhM2YtYzFkMTY3NzM1NWQzNjM2NDA5NjE2NTY0NDQxMzkx"></script>

  <link id="snipcart-theme" type="text/css"
      href="https://cdn.snipcart.com/themes/base/snipcart.min.css"
      rel="stylesheet">

</head>
<body>
