{% include head.html %}

<header>

  <div class="header-bar">

    <a class="cart snipcart-checkout snipcart-summary">
      <span class="cart__ammount snipcart-total-price"></span>
      <img src="../assets/img/icon--bag.svg">
    </a>

  </div>


  <div class="masthead">

    <a href="../"><img src="../assets/img/logo.svg">

      <h1>Li<span class="styleset03">f</span><span class="styleset02">e</span> F<span class="styleset03">l</span>ow<span class="styleset02">e</span>r</h1>

    </a>

  </div>

</header>
