<div class="nav-bar">

  <div class="nav-bar__content">

    <div class="nav-logo">
      Li<span class="styleset03">f</span><span class="styleset02">e</span> F<span class="styleset03">l</span>ow<span class="styleset02">e</span>r
    </div>

    <div class="nav-links">
      <ul>
        <li>Home</li>
        <li>Mission</li>
        <li>Ingredients</li>
        <li>Testimonials</li>
        <li>Shop</li>
      </ul>
    </div>

    <a class="cart snipcart-checkout snipcart-summary">
      <span class="cart__ammount snipcart-total-price"></span>
      <img src="../assets/img/icon--bag--white.svg">
    </a>

  </div>

</div>
