// --------------------------------------------------
// Shop
// --------------------------------------------------

.product-detail {

  h1 {
    text-align: center;
    margin-top: 80px;

    @include breakpoint(medium) {
      margin-top: 100px;
    }

    @include breakpoint(large) {
      margin-top: 120px;
    }
  }

  &__price {
    text-align: center;
    color: $grass;
    font-weight: 500;
    font-size: 16px;

    @include breakpoint(medium) {
      font-size: 20px;
    }
  }

  &__image {
    max-width: 420px;
    margin: 0px auto;
    margin-top: 80px;
  }

  img {
  }

}
