#snipcart-main-content .custom-snipcart-footer-text {
  background-color: rgba(240, 240, 240, 1);
  padding: 10px 20px;
}

#snipcart-main-content .custom-snipcart-footer-text h2 {
  font-size: larger;
  font-weight: bold;
  padding: 10px 0;
}