// --------------------------------------------------
// Navigation
// --------------------------------------------------

.nav-bar {
  background-color: $black;
  width: 100%;
  height: 56px;
  padding-top: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;

  &__content {
    font-family: 'TchigMono-Medium';
    position: relative;
    width: 94%;
    max-width: 1280px;
    margin: 0px auto;

    @include breakpoint(medium){
      width: 96%;
    }

    .cart {
      display: block;
      position: absolute;
      width: 15%;
      font-size: 14px;
      color: $white;
      top: 0px;
      right: 0px;

      img {
        position: absolute;
        right: 0px;
        top: 0px;
      }

      &__ammount {
        @include show-for(medium);

        display: block;
        margin-right: 46px;
        margin-top: 9px;
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }

    &:before {
      @include hide-for(large);

      content: "";
      display: block;
      position: absolute;
      width: 36px;
      height: 36px;
      background-image: url("/assets/img/icon--menu-nav.svg");
      background-size: 36px 36px;
      background-position: center;
      background-repeat: no-repeat;
      top: 0px;
      left: 0px;
    }

    .nav-logo {
      width: auto;
      margin: 0px auto;
      display: block;
      font-family: 'TchigMono-Bold';
      color: $white;
      font-size: 16px;
      padding-top: 7px;
      text-align: center;

      @include breakpoint(large) {
        width: 15%;
        text-align: left;
        float: left;
      }
    }

    .nav-links {
      @include show-for(large);

      margin: 0px auto;
      width: 70%;
      font-family: 'TchigMono-Medium';
      font-size: 14px;
      color: $white;
      text-align: center;
      float: left;

      ul {
        margin-top: 9px;
        text-align: center;

        li {
          display: inline-block;
          position: relative;
          margin-left: 4%;
          margin-right: 4%;

          a {
            color: $white;
            opacity: 1.0;

            &:hover {
              opacity: 0.8;
              transition: 0.2s all;
            }
          }
        }

      }
    }
  }
}
