// --------------------------------------------------
// Shop Bundles
// --------------------------------------------------

.bundles {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;

  @include breakpoint(medium){
    width: 100%;
  }
}

.shop-bundles {

  &__grid {
    @include grid-row();
    max-width: none;
    overflow: hidden;
  }
}

.bundle {

  @include grid-column(12);
  display: block;
  height: auto;
  position: relative;
  margin-bottom: 10px;

  @include breakpoint(medium) {
    @include grid-column(6, 4);
    margin-bottom: 4px;
  }

  &__image {
    width: auto;
    height: auto;
  }

  &__label {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #000;
    text-align: center;
    padding-top: 8px;
    height: 40px;
    font-size: 90%;
    color: #FFF;
  }
}
