---
layout: default
---

<main>

  <section class="product-detail">

    <h1>Product Name</h1>

    <div class="product-detail__price">
      $55
    </div>

    <div class="product-detail__image">
      <img class="cf-responsive" src="/assets/img/products/large/stick.jpg">
    </div>

    <div class="product-detail__description">
      <p>Description dolor sit amet, consectetur adipiscing elit. Nunc sodales molestie dictum. Donec nec hendrerit augue, ac viverra massa. Aliquam purus libero, semper ac imperdiet id, ullamcorper id nisl. Mauris a nulla pellentesque odio cursus tincidunt sit amet at nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam vel massa et lorem laoreet fringilla. Phasellus convallis, odio eget dapibus imperdiet, elit metus tempor sapien, ac rhoncus dolor elit sed magna.</p>

      <div class="product-detail__ingredients">
        <span>Ingredients</span>
        <p>Dolor sit amet, consectetur adipiscing elit. Nunc sodales molestie dictum. Donec nec hendrerit augue, ac viverra massa. Aliquam purus libero, semper ac imperdiet id, ullamcorper id nisl. Mauris a nulla pellentesque odio cursus tincidunt sit amet at nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>

  </section>

</main>
