---
layout: default
---

<main>

  <section class="product-detail">

    <h1>Product Name</h1>

    <div class="product-detail__price">
      $55
    </div>

    <div class="product-detail__image">
      <img class="cf-responsive" src="{{page.image-large-url}}">
    </div>

    <a class="button__buy button__buy--item-page snipcart-add-item"
    data-item-id="{{page.name | slugify}}"
    data-item-name="{{page.name}}"
    data-item-price="{{page.price}}"
    data-item-url="/"
    data-item-weight="{{page.weight}}"
    data-item-description="{{page.description}}"
    data-item-shipable="true"
    >
    Add to Cart
    </a>

    <div class="product-detail__description">
      <p>{{page.long_description}}</p>

      <div class="product-detail__ingredients">
        <span>Ingredients</span>
        <p>{{page.ingredients}}</p>
      </div>
    </div>

  </section>

</main>
